/* home.css */
/* body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
} */

.home-container {
    padding: 20px;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
}

.home-header h1 {
    margin: 0;
}

.home-header input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 300px;
}

.property-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.property-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.property-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.property-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.property-details {
    padding: 15px;
}

.property-details h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.property-details p {
    margin: 5px 0;
    color: #666;
}

.property-details strong {
    color: #333;
}

@media (max-width: 768px) {
    .home-header {
        flex-direction: column;
    }

    .home-header input {
        width: 100%;
        margin-top: 10px;
    }

    .property-list {
        flex-direction: column;
        align-items: center;
    }
}
